In [22]:
import sqlalchemy as db
import pandas as pd

user = 'root'
password = 'password'
server = 'localhost'
port = '3306'
database = 'test'

string_connection = 'mysql+pymysql://'+user+':'+password+'@'+server+':'+port+'/'+database

engine = db.create_engine(string_connection)
connection = engine.connect()
metadata = db.MetaData()

## Creating a Table

In [26]:
employees = db.Table('employee', metadata,
              db.Column('Id', db.Integer()),
              db.Column('name', db.String(50), nullable=False),
              db.Column('lastname', db.String(50)),
              db.Column('salary', db.Float(), default=100.0),
              db.Column('active', db.Boolean(), default=True)
              )

metadata.create_all(engine)

## Inserting into database

In [27]:
#Inserting record one by one
query = db.insert(employees).values(Id=1, name='Alexander', lastname='Benavides', salary=60000.00, active=True) 
ResultProxy = connection.execute(query)

In [32]:
#Inserting Several records
query = db.insert(employees) 
values_list = [{'Id':'2', 'name':'Juana', 'lastname':'lacubana', 'salary':35000, 'active':True},
               {'Id':'3', 'name':'Pedro', 'lastname':'Espitia', 'salary':40000, 'active':False}]
ResultProxy = connection.execute(query,values_list)

In [33]:
results = connection.execute(db.select([employees])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
print(df.head(4))

   Id       name   lastname   salary  active
0   1  Alexander  Benavides  60000.0    True
1   2      Juana   lacubana  35000.0    True
2   3      Pedro    Espitia  40000.0   False